<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="dark">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
            href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Pantalla de Inicio - Electric Manager</title>
</head>
<body>
<section
        class="bg-gray-900 flex h-screen items-center justify-center w-screen"
>
    <div class="flex flex-col items-center" style="width: 400px">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500" th:text="'Error: ' + ${codigo}"></h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white" th:text="${mensaje}"></p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Por favor, vuelva a intentarlo. </p>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>
